<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:replace="fragments/header"></div>	
	<body>
		<div th:replace="fragments/navbar"></div>
		
		<div class="container">
			<br>
			<div th:replace="fragments/alertas"></div>
			
			<div class="row">
				<div class="input-field col s6">
					<h5>Pedidos de Compra</h5>
				</div>
				<div class="input-field col s3 offset-s3">
					<a class="btn-floating btn-large waves-effect waves-light red right" title="novo" th:href="${#mvc.url('novoPedidoCompraUrl').build()}" >
						<i class="material-icons">add</i>
					</a>
				</div>
			</div>	
			
			<div class="row">
				<div class="col s12">
					<ul class="collapsible">
						<li>
							<div class="collapsible-header">
								<i class="material-icons">filter_list</i>Filtros
							</div>
							<div class="collapsible-body">
								<form method="GET" th:object="${pedidoFiltroForm}" id="formFiltro">
									<input type="hidden" th:field="*{pagina}"/>
									<input type="hidden" th:field="*{novoFiltro}"/>
									
									<div class="row">
										<div class="input-field col s4">
											<label>
												<input type="radio" th:field="*{tipoFiltro}" value="RS" />
												<span>Razão Social</span>
											</label>
										</div>	
										<div class="input-field col s8">
											<label class="active" for="razaoSocial">Razão Social</label>
											<input type="text" th:field="*{razaoSocial}" class="validate"/>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s4">
											<label>
												<input type="radio" th:field="*{tipoFiltro}" value="ST" />
												<span>Status</span>
											</label>
										</div>	
										<div class="input-field col s8">
											<label class="active" for="status">Status</label>
											<select th:field="*{status}">
												<option th:each="sta : ${listaDeStatus}" th:value="${sta}" th:text="${sta.displayValue}"></option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s4">
											<label>
												<input type="radio" th:field="*{tipoFiltro}" value="DT" />
												<span>Data de Entrega</span>
											</label>
										</div>	
										<div class="input-field col s4">
											<label class="active" for="entregaInicial">Entrega (Inicial)</label>
											<input type="text" th:field="*{entregaInicial}" class="validate datepicker"/>
										</div>	
										<div class="input-field col s4">
											<label class="active" for="entregaFinal">Entrega (Final)</label>
											<input type="text" th:field="*{entregaFinal}" class="validate datepicker"/>
										</div>	
									</div>
									<div class="row">
										<div class="col s12">
											<button class="btn-small right" type="button" id="btnFiltro">Pesquisar</button>
										</div>
									</div>
								</form>
							</div>
						</li>
					</ul>				
				</div>			
			</div>		
			<div class="row" th:if="${!listaPaginada.isEmpty()}">
				<div class="responsive-table col s12">
					<table>
						<thead>
							<tr>
								<th>Nº</th>
								<th>Fornecedor</th>
								<th>Entrega</th>
								<th>Condição Pagto.</th>
								<th>Valor</th>
								<th>Status</th>
								<th class="center-align">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="registro : ${listaPaginada}">
								<td th:text="${registro.id}"></td>
								<td th:text="${registro.fornecedor.razaoSocial}"></td>
								<td th:text="${#temporals.format(registro.dataEntrega, 'dd/MM/yyyy')}"></td>
								<td th:text="${registro.condicaoPagamento.displayValue}"></td>
								<td th:text="${#numbers.formatCurrency(registro.valorTotal)}"></td>
								<td th:text="${registro.status.displayValue}"></td>
								<td class="center-align">
									<a class="btn-small green" title="alterar" th:href="${#mvc.url('alterarPedidoCompraUrl').arg(0, registro.id).build()}"><i class="material-icons">edit</i></a>
									<a class="btn-small" title="detalhes" th:href="${#mvc.url('detalharPedidoUrl').arg(0, registro.id).build()}"><i class="material-icons">more_horiz</i></a>
									<button class="btn-small red modal-excluir" title="excluir" type="button" data-target="modalExcluir" th:data-descr="${registro.id}"  >
										<i class="material-icons">delete</i>
										<form th:action="${#mvc.url('excluirPedidoCompraUrl').arg(0, registro.id).build()}" method="post"></form>
									</button>
									<a th:href="${#mvc.url('geraPdfPedidoUrl').arg(0, registro.id).build()}" target="__blank"  class="btn-small deep-purple" title="imprimir" type="button">
										<i class="material-icons">print</i>
									</a>
								</td>
							</tr>			
						</tbody>	
					</table>
				</div>
			</div>
			<div th:replace="fragments/paginacao"></div>				
		</div>
		<div th:replace="fragments/modalExcluir"></div>
	</body>
	<div th:replace="fragments/scripts"></div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".paginacao").on("click", function(e) {
				e.preventDefault();
				var pagina = $(this).data("pagina");
				
				//Muda o valor da pagina no formulario
				$("#pagina").val(pagina);
				$("#novoFiltro").val("false");
				$("#formFiltro").submit();
			});
			
			$("#btnFiltro").on("click", function(e) {
				e.preventDefault();
				$("#novoFiltro").val("true");
				$("#formFiltro").submit();
			});			
		});	
	</script>	
</html>